* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  padding: 2em;
}

.slider-container {
  display: flex;
  max-width: 68em;
  overflow: hidden;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  padding: 2em;
  border-radius: 2%;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.slider-wrapper .images-wrapper {
  display: flex;
  width: 50%;
  overflow: hidden;
}

.slider-wrapper img {
  border-radius: 5%;
  max-width: 100%;
  width: 100%;
  transition: all 0.15s ease-in-out;
}

.slider-wrapper input {
  display: none;
}

.buttons-wrapper {
  display: flex;
  justify-content: end;
  margin: 1em;
  align-items: center;
}

.buttons-wrapper label {
  cursor: pointer;
}

.buttons-wrapper .button {
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  border: solid rgb(0, 149, 255) 0.2em;
  display: inline-block;
  transition: all 0.15s ease;
  margin: 0.3em;
  padding: 0.3em;
}

.buttons-wrapper label:hover .button {
  background-color: rgb(0, 255, 51);
  transition: background-color 0.1s ease;
}

.buttons-wrapper label:active .button {
  border-color: rgb(1, 73, 73);
}

.text {
  font-family: "Montserrat", sans-serif;
  color: rgb(252, 207, 6);
  font-size: 1.3rem;
  padding: 1.8rem 0.8rem 1rem 0;
  width: 100%;
  text-align: left;
  justify-content: center;
  min-width: 100%;
  transition: all 0.2s ease;
  background: rgb(69, 192, 171, 1);
}

.text-buttons--wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 1rem;
}

.text-wrapper {
  flex: 1;
  display: flex;
  overflow: hidden;
}

#meme1:checked ~ .images-wrapper img:nth-child(1) {
  margin: 0;
}

#meme2:checked ~ .images-wrapper img:nth-child(2) {
  margin-left: -100%;
}

#meme3:checked ~ .images-wrapper img:nth-child(3) {
  margin-left: -200%;
}

#meme4:checked ~ .images-wrapper img:nth-child(4) {
  margin-left: -300%;
}

#meme1:checked ~ .text-buttons--wrapper .text:nth-child(1) {
  margin-left: 0;
}

#meme2:checked ~ .text-buttons--wrapper .text:nth-child(2) {
  margin-left: -100%;
}

#meme3:checked ~ .text-buttons--wrapper .text:nth-child(3) {
  margin-left: -200%;
}

#meme4:checked ~ .text-buttons--wrapper .text:nth-child(4) {
  margin-left: -300%;
}

#meme1:checked ~ .text-buttons--wrapper label:nth-child(1) .button,
#meme2:checked ~ .text-buttons--wrapper label:nth-child(2) .button,
#meme3:checked ~ .text-buttons--wrapper label:nth-child(3) .button,
#meme4:checked ~ .text-buttons--wrapper label:nth-child(4) .button {
  background-color: rgb(252, 207, 6);
}
